{
  "extends": [
    "@piktew/eslint-config-node",
    "plugin:vitest-globals/recommended"
  ],
  "rules": {
    "no-underscore-dangle": "off",
    "import/no-extraneous-dependencies": "off",
    "sonarjs/no-duplicate-string": [
      "error",
      6
    ]
  },
  "env": {
    "vitest-globals/env": true
  }
}
